.h1-error{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.boton{
    transition: 600ms;
}

.boton:hover{
    transform: scale(1.1) translateY(-5px);
}

@media (max-width: 576px) {
    .h1-error {
        font-size: 1.2rem;
    }
}

/* estilos de la pagina de Sobre Nosotros */

